body {
    overflow:hidden;
}

.pad-0{
    padding:0 !important;    
}

.fit-width {
    width:100%;
} 

.img-container{
    margin:0 auto;
}

.m-t-15 {
    margin-top:15px;
}

.m-0{
    margin:0;
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.z-index-3{
    z-index: 3;
}

.z-index-4{
    z-index: 4;
}

.z-index-5{
    z-index: 5;
}

.z-index-6{
    z-index: 6;
}

.overflow-y-auto{
    overflow-y: auto;
}