.bg-black{
    background-color: #212121;
}

.bg-gray{
    background-color: #bdbdbd;
}

#content{
    display: flex;
    height:100vh;
}

.sidebar, .main-content{
    height: inherit;
}

.sidebar-open .sidebar-button{
    display: none;
}

.special-form{
    border-top: solid 1px #bdbdbd88;
    padding-top: 15px;
}

.default-content{
    height: 90%;
    overflow-y: auto;
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}

@media screen and (min-width:1024px){
    .main-content{
        width: 100%;
    }
    .sidebar-open .main-content{
        margin-left: 20vw;
    }
}