<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    {{ partial "home/default-css.html" . }}
</head>
<body>
    <section id="content" class="sidebar-open container-fluid pad-0">      
        {{ partial "components/sidebar.html" . }}  
        <div class="main-content pad-0 bg-white container">
            {{ partial "components/top-menu.html" . }}
            <div id="mainContent" class="default-content container">

            </div>
        </div>
    </section>
    {{ partial "home/default-js.html" . }}
</body>
</html>